extends layout

block content
  header 
    .post-btn
      a(href="/").btn.btn-primary.btn-sm TOP
    

  .container.text-center
    .row
      .col 
      .col 投稿一覧 
        each content in contents 
          - var isSelf= content.author.id === sessionId
          article
            .content 
              .user
                - var date = new Date(content.created_at)
                p
                  a(href=`/user/${content.author.id}`).content-user #{content.author.name} 
                  span ・ #{date.getFullYear()}-#{date.getMonth() + 1}-#{date.getDate()} #{date.getHours()}:#{date.getMinutes()}:#{date.getSeconds()}
                p #{content.content} 
                if isSelf
                  form(method="POST" action="/delete")
                    input(type="hidden" name="contentId" value=`${content.id}`)
                    button.btn.btn-primary.btn-sm.btn-delete.btn-danger 消す
              hr
      .col 



  
